{{#contentFor "sidebar"}}
  <md-button class="sidebar-button">BUTTONS</md-button>
  <md-button class="sidebar-button">BUTTONS</md-button>
  <md-button class="sidebar-button">BUTTONS</md-button>
{{/contentFor}}

<h1>WELCOME TO ZEF!</h1>
{{{{raw-helper}}}}
<md-card ng-repeat="picture in pictures">
  <md-card-content>
    <h2 class="md-title">{{picture.name}}</h2>
    <p>
      {{picture.encoded_string}}
    </p>
  </md-card-content>
</md-card>
{{{{/raw-helper}}}}