<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.qc.johnabbott.cs603" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyTheme" >
        <activity
            android:name="com.steszyngagne.draw.MainActivity"
            android:theme="@style/Theme.MyTheme"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.DRAW" />
                <category android:name="android.intent.category.PARENT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.steszyngagne.draw.Login"
            android:theme="@style/Theme.MyTheme.NoActionBar"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
